
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding: 30px;
}

header {
  border-bottom: 1px solid #712020;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 60px;
  border-radius: 12%;
}

nav button {
  margin-left: 10px;
  padding: 8px 15px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.form-section {
  width: 45%;
}

.form-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  padding: 1%;
  background-color: #eee;
  border: 1px solid #777;
  cursor: pointer;
}

.table-section {
  width: 55%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #ddd;
}

td, th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

a {
  color: blue;
  text-decoration: underline;
}

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 40px;
  text-align: right;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

